<div class="login">
    <h2 class="login-header">Login</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="loginUser()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.u_name.errors }">
        <input type="text" placeholder="Username" formControlName="u_name">
      </p>
  
      <div *ngIf="isSubmitted && formControls.u_name.errors" class="help-block">
        <div *ngIf="formControls.u_name.errors.required">Username is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.p_word.errors }">
        <input type="password" placeholder="password" formControlName="p_word">
      </p>
  
      <div *ngIf="isSubmitted && formControls.p_word.errors" class="help-block">
        <div *ngIf="formControls.p_word.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Login">
      </p>
    </form>
  </div>

